@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&family=Inter&family=Roboto:wght@100;300&display=swap');

body {
  margin: 0;
  overflow: hidden;
  background-color: #121212;
}